<p><strong>Data</strong></p><%= data_br(Date.today) %></p>

<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Mineração", mining_types_path %>
    </li>
</ul>