<p><strong>Data</strong></p><%= I18n.l(Date.today) %></p>

<ul>
    <li>
        <%= link_to "Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Minerações", mining_types_path %>
    </li>
</ul>